**/*.jar
*.imi
*.class
*.out
*.swp
/bin
src/compiler/generated/
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.metadata/
.project
.classpath
*.DS_Store
**/.DS_Store
.idea/
.*/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
